@import '../../../../assets/css/theme/utils/variables/colors';
@import '../../../../assets/css/theme/utils/mixins/layout';

.page {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 3rem;
  color: $color-text;
}
.icon {
  color: $color-tertiary
}
.input {
  display: flex;
  justify-content: space-between;
}
input {
  font-size: 1.125rem;
  width: 100%;
  padding: 20px;
  background: none;
}
input:focus {
  outline: none;
}
.alert {
  @include rounded-bl;
  @include rounded-br;

  padding: 8px;
  background-color: $color-danger;
}
