<div class="page">
  <fa-icon [icon]="icon" size="10x" class="icon col-span-4"></fa-icon>
  <h1 class="mb-5 mt-5">{{ toolName }}</h1>
  <div class="card no-padding w-full px-5 md:px-0 md:w-2/4">
    <div class="input">
      <input type="text" [placeholder]="placeholder" [value]="_value" (keyup.enter)="submit()"
        (input)="handleInput($event)">

      @if (!disableSubmit) {
        <button class="w-12 shadow-none" (click)="submit()" [disabled]="disableSubmit">
          <fa-icon [icon]="faChevronRight"></fa-icon>
        </button>
      }
      @if (disableSubmit) {
        <button class="w-12 shadow-none" [disabled]="disableSubmit">
          <app-loading-spinner></app-loading-spinner>
        </button>
      }
    </div>
    @if (isErroneous) {
      <div class="alert" [innerHTML]="errorText"></div>
    }
  </div>
  <ng-content></ng-content>
</div>
