<div class="navbar">
  <div class="title">
    <a routerLink="/">
      <fa-icon [icon]="faToolbox" class="icon mr-2"></fa-icon>
    </a>
  </div>
  <div class="nav w-full flex justify-between">
    @for (tool of tools; track $index) {
      @if (!tool.external) {
        <a [routerLink]="tool.route" routerLinkActive="active" class="nav-item">
          <fa-icon [icon]="tool.icon" class="md:mr-2"></fa-icon>
          <span class="hidden md:block">{{ tool.i18nKey | translate }}</span>
        </a>
      }
      @if (tool.external) {
        <a [href]="tool.route" class="nav-item" target="_blank">
          <fa-icon [icon]="tool.icon" class="md:mr-2"></fa-icon>
          <span class="hidden md:block">{{ tool.i18nKey | translate }}</span>
        </a>
      }
    }
    <div class="ml-auto relative inline-block text-left">
      <div>
        <button
          type="button"
          class="dropdown-button inline-flex w-full justify-center gap-x-1.5 rounded-md px-3 py-2 text-sm font-semibold shadow-sm"
          id="menu-button"
          aria-expanded="true"
          aria-haspopup="true"
          (click)="showDropdown = !showDropdown">
          {{ 'common.language.label' | translate }}

          @if (showDropdown) {
            <fa-icon class="-mr-1 h-5 w-5 text-gray-400" [icon]="faChevronUp" />
          } @else {
            <fa-icon class="-mr-1 h-5 w-5 text-gray-400" [icon]="faChevronDown" />
          }
        </button>
      </div>
      @if (showDropdown) {
        <div
          class="dropdown-content rounded-lg shadow-lg"
          role="menu"
          aria-orientation="vertical"
          aria-labelledby="menu-button"
          tabindex="-1">
          @for (language of languages; track $index) {
            <a
              href="javascript:void(0)"
              (click)="changeLocale(language.lang)"
              class="block px-4 py-2 text-sm"
              role="menuitem"
              tabindex="-1"
              id="menu-item-0"
              [class.active]="currentLanguage() == language.lang">
              <svg>
                <use
                  [attr.xlink:href]="
                    'assets/img/icons/flags/' + language.flag + '.svg#flag-icons-' + language.flag
                  "></use>
              </svg>
              {{ 'common.language.' + language.lang | translate }}
            </a>
          }
        </div>
      }
    </div>
  </div>
</div>
