<div class="navbar">
  <div class="title">
    <a routerLink="/" class="flex items-center cursor-pointer">
      <fa-icon [icon]="faToolbox" class="icon mr-2"></fa-icon>
      FACEIT Tools
    </a>
  </div>
  <div class="nav">
    <ng-template ngFor let-tool [ngForOf]="tools">
      <a [routerLink]="tool.route" routerLinkActive="active" class="nav-item" *ngIf="!tool.external">
        <fa-icon [icon]="tool.icon" class="md:mr-2"></fa-icon> <span class="hidden md:block">{{ tool.i18nKey | translate }}</span>
      </a>
      <a [href]="tool.route" class="nav-item" *ngIf="tool.external" target="_blank">
        <fa-icon [icon]="tool.icon" class="md:mr-2"></fa-icon> <span class="hidden md:block">{{ tool.i18nKey | translate }}</span>
      </a>
    </ng-template>
  </div>
</div>
