<div class="wrapper" *ngIf="matchRoomData">
  <div class="back">
    <button (click)="navigateBack()">
      <fa-icon [icon]="faArrowLeft"></fa-icon> Go back
    </button>
  </div>
  <h1 class="page-title">
    {{ matchRoomData.competition_name}} / {{ getTeamName(0) }} vs. {{ getTeamName(1) }}
  </h1>
  <div class="detail-button">
    <button (click)="toggleDetailedView()">
      <fa-icon [icon]="faList"></fa-icon> {{ detailedView ? 'Hide' : 'Show' }} detailed view
    </button>
  </div>
  <div class="page" *ngIf="!detailedView; else detailedViewTemplate">
    <div class="team" *ngFor="let team of teamMapStats; index as i">
      <img [src]="getTeam(i).avatar" class="ml-auto mr-auto rounded-full h-12 w-12">
      <h1>{{ getTeamName(i) }}</h1>
      <app-card>
        <div class="team-card">
          <table>
            <thead>
              <tr>
                <th>Map</th>
                <th>Map Name</th>
                <th>Combined Matches / Wins / Losses</th>
                <th>Overall Winrate</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let stats of team.combinedMapStats">
                <td><img [src]="getMapPreview(stats.name)" [alt]="stats.name" class="object-contain h-16"></td>
                <td>{{ stats.name }}</td>
                <td><span class="text-green-500">{{ stats.wins }}</span> / <span class="text-red-500">{{ stats.losses
                    }}</span> / {{ stats.matches }}</td>
                <td [style.backgroundColor]="getBackgroundColor(stats.rate)">{{ stats.rate }}%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </app-card>
    </div>
  </div>
  <ng-template #detailedViewTemplate>
    <div class="page">
      <div class="team" *ngFor="let team of teamMapStats; index as i">
        <img [src]="getTeam(i).avatar" class="ml-auto mr-auto rounded-full h-12 w-12">
        <h1>{{ getTeamName(i) }}</h1>
        <app-card>
          <div class="team-card">
            <table>
              <thead>
                <tr>
                  <th>Map</th>
                  <th *ngFor="let player of team.playerMapStats">{{ player.name }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let map of getMaps()">
                  <td>{{ map }}</td>
                  <td *ngFor="let playerStats of team.playerMapStats">
                    <span class="text-xl" [style.color]="getBackgroundColor(getPlayerWinrateForMap(playerStats, map))">{{
                      getPlayerWinrateForMap(playerStats, map) }}%</span><br>(<span class="text-green-500">{{
                      getPlayerWinsForMap(playerStats, map) }}</span> / <span class="text-red-500">{{
                      getPlayerLossesForMap(playerStats, map) }}</span> / {{ getPlayerMatchesForMap(playerStats, map)
                    }})
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </app-card>
      </div>
    </div>
  </ng-template>
</div>
