@import '../../../../../assets/css/theme/utils/variables/colors';

.maps {
  width: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & table {
    width: 100%;
    text-align: center;
  }

  & .map {
    background-size: 100% 100%;

    & .map-text {
      background-color: rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(1px);
    }
  }
}
