<app-card style="align-self: flex-end" [noPadding]="true">
  <div class="maps">
    <table>
      <thead>
        <tr>
          <th>Maps</th>
        </tr>
      </thead>
      <tbody>
        @for (map of getMaps(); track $index) {
          <tr style="width: 100%" [style.backgroundImage]="getMapPreviewStyle(map)" class="map">
            <td class="map-text" [class.backdrop-filter-sm]="enableBackdropFilter">{{ map }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</app-card>
