@import '../../../../assets/css/theme/utils/variables/colors';
@import '../../../../assets/css/theme/utils/mixins/all';

.input {
  display: flex;
  justify-content: space-between;
}
input {
  font-size: 1.125rem;
  width: 100%;
  background: none;
  padding: 20px;
}
input:focus {
  outline: none;
}
.alert {
  padding: 8px;
  background-color: $color-danger;

  @include rounded-bl;
  @include rounded-br;
}
.dialog-header {
  position: sticky;

  top: 0;
  height: 50px;

  display: flex;
  align-items: center;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  color: $color-text;
  background-color: $color-secondary;
  @extend .shadow;
}
.content {
  @apply p-3;
}

.players {
  @apply flex flex-col gap-2 mt-3;

  & .player {
    height: 65px;
    width: 100%;
    background-color: $color-secondary;
    color: $color-text;

    display: inline-flex;
    align-items: center;
    cursor: pointer;

    @extend .shadow-lg;
    @include default-corners;

    padding: 0 10px 0 10px;

    & .profile-img {
      @apply object-cover h-10 rounded-lg mr-3 shadow;
    }

    & .icons {
      @apply ml-auto inline-flex items-center gap-3;

      & > * {
        @apply object-cover h-8 w-8;
      }
    }

    &:hover {
      background-color: $color-secondary-light;
    }
  }
}
