$color-tertiary: #FF5500;

// https://tailwindcss.com/docs/background-color
$bg-white: rgb(255 255 255);
$bg-slate-50: rgb(248 250 252);
$bg-slate-100: rgb(241 245 249);
$bg-slate-200: rgb(226 232 240);
$bg-slate-300: rgb(203 213 225);
$bg-slate-400: rgb(148 163 184);
$bg-slate-500: rgb(100 116 139);
$bg-slate-600: rgb(71 85 105);
$bg-slate-700: rgb(51 65 85);
$bg-slate-800: rgb(30 41 59);
$bg-slate-900: rgb(15 23 42);
$bg-gray-50: rgb(249 250 251);
$bg-gray-100: rgb(243 244 246);
$bg-gray-200: rgb(229 231 235);
$bg-gray-300: rgb(209 213 219);
$bg-gray-400: rgb(156 163 175);
$bg-gray-500: rgb(107 114 128);
$bg-gray-600: rgb(75 85 99);
$bg-gray-700: rgb(55 65 81);
$bg-gray-800: rgb(31 41 55);
$bg-gray-900: rgb(17 24 39);
$bg-zinc-50: rgb(250 250 250);
$bg-zinc-100: rgb(244 244 245);
$bg-zinc-200: rgb(228 228 231);
$bg-zinc-300: rgb(212 212 216);
$bg-zinc-400: rgb(161 161 170);
$bg-zinc-500: rgb(113 113 122);
$bg-zinc-600: rgb(82 82 91);
$bg-zinc-700: rgb(63 63 70);
$bg-zinc-800: rgb(39 39 42);
$bg-zinc-900: rgb(24 24 27);
$bg-neutral-50: rgb(250 250 250);
$bg-neutral-100: rgb(245 245 245);
$bg-neutral-200: rgb(229 229 229);
$bg-neutral-300: rgb(212 212 212);
$bg-neutral-400: rgb(163 163 163);
$bg-neutral-500: rgb(115 115 115);
$bg-neutral-600: rgb(82 82 82);
$bg-neutral-700: rgb(64 64 64);
$bg-neutral-800: rgb(38 38 38);
$bg-neutral-900: rgb(23 23 23);
$bg-stone-50: rgb(250 250 249);
$bg-stone-100: rgb(245 245 244);
$bg-stone-200: rgb(231 229 228);
$bg-stone-300: rgb(214 211 209);
$bg-stone-400: rgb(168 162 158);
$bg-stone-500: rgb(120 113 108);
$bg-stone-600: rgb(87 83 78);
$bg-stone-700: rgb(68 64 60);
$bg-stone-800: rgb(41 37 36);
$bg-stone-900: rgb(28 25 23);


$bg-theme-900: $bg-gray-900;
$bg-theme-800: $bg-gray-800;
$bg-theme-700: $bg-gray-700;
$bg-theme-600: $bg-gray-600;
$bg-theme-500: $bg-gray-500;
$bg-theme-400: $bg-gray-400;
$bg-theme-300: $bg-gray-300;
$bg-theme-200: $bg-gray-200;
$bg-theme-100: $bg-gray-100;
$bg-theme-50: $bg-gray-50;

$color-primary: #222831;
$color-secondary: #393E46;
$color-secondary-light: lighten(#393E46, 10%);
$color-tertiary: #FF5500;
$color-text: #EEEEEE;

$color-success: #28A745;
$color-warning: #FFC107;
$color-danger: #DC3545;
