@import 'variables/colors';

.wrapper {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.wrapper .name {
  color: $color-tertiary;
  font-size: 18px;
  line-height: 26px;
}

.wrapper h1 {
  font-size: 18px;
  line-height: 26px;
}
