<div class="card no-padding elo-display">
  <div class="flex w-full">
    <div class="rank-display-part-1">
      <div class="flex">
        @for (item of getElos().slice(0, -1); track $index; let first = $first) {
          <div class="rank-wrapper" [style.width]="calculatePercentage(item, first)">
            <svg class="rank">
              <use [attr.xlink:href]="'#level' + item.level"></use>
            </svg>
            <div class="rank-text">{{item.from}} – {{item.to}}</div>
          </div>
        }
      </div>
      <div class="line-wrapper">
        <div [style.width]="getPercentageToLevel10() + '%'" class="line rounded-bl-lg"></div>
      </div>
    </div>
    <div class="rank-display-part-2">
      <div class="rank-wrapper no-border" style="width: 100%">
        <svg class="rank">
          <use xlink:href="#level10"></use>
        </svg>
        <div class="rank-text">2001+</div>
      </div>
      <div style="width: 100%; height: 4px;" class="line-wrapper rounded-br-lg" [class.line]="elo > 2000"></div>
    </div>
  </div>
</div>
