<div class="card no-padding">
  <div class="match-history-header">
    <h1>{{ 'tools.stats.profile_page.match_history.title' | translate | uppercase }}</h1>
    <h3>
      ({{
      'tools.stats.profile_page.match_history.title_sub'
      | translate: { num1: showMore ? matches.length : matchCountDefault, num2: matches.length }
      }})
    </h3>
  </div>
</div>
<div class="match-holder">
  <div class="match">
    <div class="match-item" style="cursor: default">
      @let i18nPrefix = 'tools.stats.profile_page.match_history.table.header';
      <div>{{ i18nPrefix + '.date' | translate }}</div>
      <div>{{ i18nPrefix + '.mode' | translate }}</div>
      <div>{{ i18nPrefix + '.result' | translate }}</div>
      <div>{{ i18nPrefix + '.score' | translate }}</div>
      <div>{{ 'common.labels.map' | translate }}</div>
      <div>{{ i18nPrefix + '.player_stats' | translate }}</div>
      <div></div>
    </div>
  </div>

  @for (match of getMatchesSubset(); track match; let i = $index) {
    <div class="match">
      <div class="match-item" (click)="collapsedId == i ? (collapsedId = -1) : (collapsedId = i)">
        <div title="{{ getDate(match) | amFromUnix | amCalendar }}">{{ getDate(match) | amFromUnix | amTimeAgo }}</div>
        <div>{{ getMatchType(match) }}{{ getBestOf(match) > 1 ? ' (BO' + getBestOf(match) + ')' : '' }}</div>
        <div [innerHTML]="getWinLossFormatted(match)"></div>
        <div [innerHTML]="getFormattedScore(match)"></div>
        <div>{{ getMaps(match) }}</div>
        <div>{{ getSelectedPlayerStats(match) }}</div>
        <div>
          <a
            [routerLink]="[
              '/picker/match/',
              match.history.faceit_url.replace('https://www.faceit.com/{lang}/cs2/room/', ''),
            ]"
            class="mr-2">
            <fa-icon [icon]="faMapLocationDot"></fa-icon>
          </a>
          <a [href]="match.history.faceit_url.replace('{lang}', 'en')" target="_blank">
            <fa-icon [icon]="faExternalLink"></fa-icon>
          </a>
        </div>
      </div>
      @if (collapsedId == i) {
        <div class="match-collapsible">
          @for (round of match.stats.rounds; track round; let roundIndex = $index) {
            <div class="collapsible-round">
              <div class="w-full collapsible-map-name">{{ formatMapName(round.round_stats.Map) }}</div>
              <div class="collapsible-table-holder">
                @for (team of round.teams; track team) {
                  <table>
                    <thead>
                      <tr class="no-hover">
                        @let i18nPrefix = 'tools.stats.profile_page.match_history.table.details';
                        <th>{{ i18nPrefix + '.name' | translate }}</th>
                        <th>{{ i18nPrefix + '.kills' | translate }}</th>
                        <th>{{ i18nPrefix + '.assists' | translate }}</th>
                        <th>{{ i18nPrefix + '.deaths' | translate }}</th>
                        <th>{{ i18nPrefix + '.hs' | translate }}</th>
                        <th>{{ i18nPrefix + '.mvp' | translate }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (player of getTeamPlayersSorted(team.players); track player) {
                        <tr
                          class="no-hover"
                          [class.text-faceit]="player.player_id == selectedPlayerId"
                          >
                          <td>
                            <a [routerLink]="['../', player.nickname]">{{ player.nickname }}</a>
                          </td>
                          <td>{{ player.player_stats.Kills }}</td>
                          <td>{{ player.player_stats.Assists }}</td>
                          <td>{{ player.player_stats.Deaths }}</td>
                          <td>{{ player.player_stats['Headshots %'] }}%</td>
                          <td>{{ player.player_stats.MVPs }}</td>
                        </tr>
                      }
                    </tbody>
                  </table>
                }
              </div>
            </div>
          }
        </div>
      }
    </div>
  }
  @if (!showMore) {
    <a class="more" (click)="showMore = true">{{ 'tools.stats.profile_page.match_history.footer' | translate:{num: matches.length - matchCountDefault} }}</a>
  }
</div>
