@import '../../../../../assets/css/theme/base';

h1 {
  color: $color-tertiary;
  @apply text-xl;
}
.match-history-header {
  border-color: $color-tertiary;
  width: 100%;
  @apply h-10 border-b rounded-lg flex items-center;
}
.match-history-header > h1 {
  @apply px-2;
}
.match-holder {
  @apply mt-2 flex flex-col space-y-2;
}
.match {
  @apply w-full text-white rounded-lg p-2 shadow-lg;
  background-color: $color-secondary;
}
.match-item {
  @apply grid grid-flow-col auto-cols-fr cursor-pointer;
}
.match-item > *:last-child {
  @apply justify-self-end;
}
.match-collapsible {
  @apply mt-5 flex flex-col p-2 rounded-lg space-y-5;

  background-color: $color-primary;
}
.collapsible-round {
  @apply flex flex-col;
}
.collapsible-table-holder {
  @apply flex flex-col space-y-5 lg:space-y-0 lg:flex-row lg:space-x-5;
}
.collapsible-table-holder > table {
  @apply w-full lg:w-1/2;
}
.collapsible-map-name {
  border-color: $color-tertiary;
  @apply border-b;
}
th {
  text-align: left;
}
a:hover {
  color: $color-tertiary;
}
.more {
  width: 100%;
  color: white;
  text-align: center;
  cursor: pointer;
}
