@import 'variables/colors';
@import 'mixins/all';

h1 {
  color: $color-tertiary;
  font-size: 20px;
  line-height: 28px;
}

.match-history-header {
  width: 100%;
  height: 40px;
  border-bottom-width: 1px;
  border-color: $color-tertiary;
  display: flex;
  align-items: center;

  @include default-corners;

  & > h1 {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.match-holder {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  & .match {
    width: 100%;
    color: white;
    padding: 8px;
    background-color: $color-secondary;

    @include default-corners;
    @extend .drop-shadow-lg;

    & .match-item {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: minmax(0, 1fr);
      cursor: pointer;

      & > *:last-child {
        justify-self: end;
      }
    }

    & .match-collapsible {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      padding: 8px;
      gap: 5px;
      background-color: $color-primary;
      @include default-corners;

      & .collapsible-round {
        display: flex;
        flex-direction: column;

        & .collapsible-map-name {
          border-color: $color-tertiary;
          border-bottom-width: 1px;
        }

        & .collapsible-table-holder {
          display: flex;
          flex-direction: column;
          gap: 10px;

          @include mediaQuery('lg') {
            flex-direction: row;
          }

          & > table {
            width: 100%;
            height: fit-content;
            text-align: center;

            @include mediaQuery('lg') {
              width: 50%;
            }

            & th {
              text-align: center;
            }
          }
        }
      }
    }
  }

  & .more {
    color: white;
    width: 100%;
    text-align: center;
    cursor: pointer;
  }

  & a:hover {
    color: $color-tertiary;
  }
}
