<app-card>
  <div class="container">
    <h1>MATCH HISTORY</h1>
    <table class="mt-1">
      <thead>
        <tr>
          <th>Date</th>
          <th>Match Type</th>
          <th>Result</th>
          <th>Score(s)</th>
          <th>Map(s)</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let match of matches; index as i" >
          <tr class="h-10 clickable" (click)="collapsedId == i ? collapsedId = -1 : collapsedId = i">
            <td>{{ (getDate(match) | amFromUnix) | amCalendar }}</td>
            <td>{{ 'BO' + getBestOf(match) }} / {{ getMatchType(match) }}</td>
            <td [innerHTML]="getWinLossFormatted(match)"></td>
            <td [innerHTML]="getFormattedScore(match)"></td>
            <td>{{ getMaps(match) }}</td>
          </tr>
          <ng-container *ngIf="collapsedId == i">
            <tr class="collapsible" *ngFor="let round of match.stats.rounds">
              <td colspan="5" class="collapsible-round">
                <div class="collapsible-table-holder">
                  <table *ngFor="let team of round.teams">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Kills</th>
                        <th>Assists</th>
                        <th>Deaths</th>
                        <th>HS%</th>
                        <th>MVP</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let player of getTeamPlayersSorted(team.players)">
                        <td>{{ player.nickname }}</td>
                        <td>{{ player.player_stats.Kills }}</td>
                        <td>{{ player.player_stats.Assists }}</td>
                        <td>{{ player.player_stats.Deaths }}</td>
                        <td>{{ player.player_stats['Headshots %'] }}</td>
                        <td>{{ player.player_stats.MVPs }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </ng-container>

        </ng-container>
      </tbody>
    </table>
  </div>
</app-card>
