h1 {
  color: var(--faceit-primary);
  @apply text-xl;
}
.header {
  border-color: var(--faceit-primary);
  @apply h-10 border-b-2 rounded-b flex items-center;
}
.header > h1 {
  @apply px-2;
}
.match-holder {
  @apply mt-2 flex flex-col space-y-2;
}
.match {
  @apply w-full bg-gray-800 text-white rounded p-2 shadow;
}
.match-item {
  @apply grid grid-cols-5;
}
.match-collapsible {
  @apply mt-5 flex flex-col bg-gray-900 p-2 rounded space-y-5;
}
.collapsible-round {
  @apply flex flex-col;
}
.collapsible-table-holder {
  @apply flex flex-col space-y-5 lg:space-y-0 lg:flex-row lg:space-x-5;
}
.collapsible-table-holder > table {
  @apply w-full lg:w-1/2;
}
th {
  text-align: left;
}
a:hover {
  color: var(--faceit-primary);
}
