<app-card>
  <div class="header">
    <h1>MATCH HISTORY</h1>
    <h3>({{ showMore ? matches.length : matchCountDefault }} of {{ matches.length }})</h3>
  </div>
</app-card>
<div class="match-holder">
  <div class="match">
    <div class="match-item" style="cursor: default">
      <div>Date</div>
      <div>Mode</div>
      <div>Result</div>
      <div>Score</div>
      <div>Map</div>
      <div>Player Stats</div>
      <div></div>
    </div>
  </div>

  <ng-container *ngFor="let match of getMatchesSubset(); index as i">
    <div class="match">
      <div class="match-item" (click)="collapsedId == i ? collapsedId = -1 : collapsedId = i">
        <div title="{{ (getDate(match) | amFromUnix) | amCalendar }}">{{ (getDate(match) | amFromUnix) | amTimeAgo }}</div>
        <div>{{ getMatchType(match) }}{{ getBestOf(match) > 1 ? ' (BO' + getBestOf(match) + ')' : '' }}</div>
        <div [innerHTML]="getWinLossFormatted(match)"></div>
        <div [innerHTML]="getFormattedScore(match)"></div>
        <div>{{ getMaps(match) }}</div>
        <div>{{ getSelectedPlayerStats(match) }}</div>
        <div>
          <a [routerLink]="['/picker/match/', match.history.faceit_url.replace('https://www.faceit.com/{lang}/csgo/room/', '')]"
            class="mr-2">
            <fa-icon [icon]="faMapLocationDot"></fa-icon>
          </a>
          <a [href]="match.history.faceit_url.replace('{lang}', 'en')"
            target="_blank">
            <fa-icon [icon]="faExternalLink"></fa-icon>
          </a>
        </div>
      </div>
      <div class="match-collapsible" *ngIf="collapsedId == i">
        <div class="collapsible-round" *ngFor="let round of match.stats.rounds; index as roundIndex">
          <div class="w-full collapsible-map-name">{{ formatMapName(round.round_stats.Map) }}</div>
          <div class="collapsible-table-holder">
            <table *ngFor="let team of round.teams">
              <thead>
                <tr class="no-hover">
                  <th>Name</th>
                  <th>Kills</th>
                  <th>Assists</th>
                  <th>Deaths</th>
                  <th>HS%</th>
                  <th>MVP</th>
                </tr>
              </thead>
              <tbody>
                <tr class="no-hover" [class.text-faceit]="player.player_id == selectedPlayerId" *ngFor="let player of getTeamPlayersSorted(team.players)">
                  <td>
                    <a [routerLink]="['../', player.nickname]">{{ player.nickname }}</a>
                  </td>
                  <td>{{ player.player_stats.Kills }}</td>
                  <td>{{ player.player_stats.Assists }}</td>
                  <td>{{ player.player_stats.Deaths }}</td>
                  <td>{{ player.player_stats['Headshots %'] }}%</td>
                  <td>{{ player.player_stats.MVPs }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <a class="more" *ngIf="!showMore" (click)="showMore = true">Show {{ matches.length - matchCountDefault }} more</a>
</div>
