.wrapper {
  @apply h-auto md:h-full;
  width: 100%;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.page-wrapper {
  overflow: auto;
  z-index: 1;
  height: 100%;
}
.header-wrapper,
.footer-wrapper {
  z-index: 1000;
}
.error {
  @apply px-3 py-2 bg-red-600 text-white;
}
