@import '../assets/css/theme/base';

.wrapper {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.page-wrapper {
  overflow: auto;
  z-index: 1;
  flex: 1;
}
.header-wrapper {
  z-index: 1000;
}
.error {
  @include default-corners;
  @include default-margins;
  @include default-paddings;

  background-color: $color-danger;
  color: $color-text;
}
