@import 'variables/all';
@import 'mixins/all';

.wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

  @include mediaQuery('md') {
    width: 75%;
  }
}
.head {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-size: cover;
  background-position: center;

  & .content {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    color: $color-text;
    padding: 20px;
    background-color: rgba($color-secondary, 0.5);

    @include mediaQuery('md') {
      flex-direction: row;
    }
  }
  & h1 {
    font-size: 1.875rem;
  }
}

.stats {
  width: 100%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 8px;

  @include mediaQuery('sm') {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @include mediaQuery('md') {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  @include mediaQuery('xl') {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
.elo {
  display: flex;
  align-items: center;
  padding: 4px;
}
.country svg,
.elo svg {
  height: 32px;
  width: 32px;
}
.avatar {
  border-radius: 9999px;
  height: 80px;
  border-width: 2px;
  border-color: $color-tertiary;

  @include mediaQuery('md') {
    margin-right: 12px;
  }
}
.socials {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 8px;

  @include mediaQuery('lg') {
    width: auto;
    justify-content: flex-start;
    margin-top: 0px;
  }
}
.social-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 8px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  @extend .shadow-lg;
  border-radius: 100%;
  background-color: $color-secondary;

  &:hover {
    background-color: $color-secondary-light;
  }
  & .icon {
    @include mediaQuery('md') {
      margin-right: 8px;
    }
  }
  & .text {
    display: none;

    @include mediaQuery('md') {
      display: inline-block;
    }
  }


  @include mediaQuery('md') {
    @include default-corners;
    width: auto;
  }
}

.faceit-btn svg {
  height: 16px;
  width: 16px;
  fill: $color-tertiary;
}

.leetify-btn img {
  height: 16px;
  width: 16px;
}

.history {
  width: 100%;
  margin-top: 20px;
}

.text-shadow {
  text-shadow: 0 2px 4px rgba(0,0,0,0.10);
}

.text-shadow-md {
  text-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.08);
}

.text-shadow-lg {
  text-shadow: 0 15px 30px rgba(0,0,0,0.11), 0 5px 15px rgba(0,0,0,0.08);
}

.text-shadow-none {
  text-shadow: none;
}
