@if (!selectedPlayerDetails && !error) {
  <app-loading-spinner></app-loading-spinner>
}

@if (selectedPlayerDetails) {
  <div class="wrapper">
    <div class="page">
      <div class="head" [style.backgroundImage]="'url(\'' + selectedPlayerDetails.overview.cover_image + '\')'">
        <div class="content" [class.backdrop-filter]="enableBackdropFilter">
          <img [src]="getProfilePicture(selectedPlayerDetails.overview)" class="avatar" alt="Avatar" />
          @if (selectedPlayerDetails.overview.country.toLowerCase(); as country) {
            <div class="country">
              <svg>
                <use [attr.xlink:href]="'assets/img/icons/flags/' + country + '.svg#flag-icons-' + country"></use>
              </svg>
            </div>
          }
          <h1 class="text-shadow-md">{{ selectedPlayerDetails.overview.nickname }}</h1>
          <div class="card no-padding">
            @if (selectedPlayerDetails.overview.games['cs2'].skill_level; as level) {
              <div class="elo">
                <svg>
                  <use [attr.xlink:href]="'#level' + level"></use>
                </svg>
                <span
                  class="md:ml-2"
                [innerHTML]="getFormattedEloLong(level, selectedPlayerDetails.overview.games['cs2'].faceit_elo)"></span>
              </div>
            }
          </div>
          <div class="socials" style="margin-left: auto">
            <a
              class="btn social-btn"
              [href]="'https://steamcommunity.com/profiles/' + selectedPlayerDetails.overview.steam_id_64"
              target="_blank">
              <fa-icon class="icon" [icon]="faSteam"></fa-icon>
              <span class="text">Steam</span>
            </a>
            <a
              class="btn social-btn leetify-btn"
              [href]="'https://leetify.com/public/profile/' + selectedPlayerDetails.overview.steam_id_64"
              target="_blank">
              <img src="assets/img/icons/leetify.png" alt="Leetify icon" class="icon" />
              <span class="text">Leetify</span>
            </a>
            <a
              class="btn social-btn faceit-btn"
              [href]="selectedPlayerDetails.overview.faceit_url.replace('{lang}', 'en')"
              target="_blank">
              <svg class="icon">
                <use xlink:href="assets/img/icons/faceit.svg#Layer_1"></use>
              </svg>
              <span class="text">FACEIT</span>
            </a>
          </div>
        </div>
      </div>
      <app-elo-display class="w-full hidden lg:block" [elo]="selectedPlayerDetails.overview.games['cs2'].faceit_elo" />
      <div class="stats">
        <app-stat-display
          [name]="'tools.stats.profile_page.recent_results' | translate"
          [valueHTML]="getRecentResults(selectedPlayerDetails.stats)" />
        <app-stat-display
          [name]="'tools.stats.profile_page.matches' | translate"
          [value]="selectedPlayerDetails.stats.lifetime.Matches" />
        <app-stat-display
          [name]="'tools.stats.profile_page.win_rate' | translate"
          [value]="selectedPlayerDetails.stats.lifetime['Win Rate %'] + '%'" />
        <app-stat-display
          [name]="'tools.stats.profile_page.longest_streak' | translate"
          [value]="selectedPlayerDetails.stats.lifetime['Longest Win Streak']" />
        <app-stat-display
          [name]="'tools.stats.profile_page.avg_kd' | translate"
          [value]="selectedPlayerDetails.stats.lifetime['Average K/D Ratio']" />
        <app-stat-display
          [name]="'tools.stats.profile_page.avg_hs' | translate"
          [value]="selectedPlayerDetails.stats.lifetime['Average Headshots %'] + '%'" />
      </div>
      @if (!(matchHistory$ | async)) {
        <app-loading-spinner class="history" />
      }
      @if (matchHistory$ | async; as matches) {
        <div class="history">
          <app-match-history-display [matches]="matches" [selectedPlayerId]="selectedPlayerDetails.overview.player_id" />
        </div>
      }
    </div>
  </div>
}
