@import '../../../../assets/css/theme/utils/variables/all';
@import '../../../../assets/css/theme/utils/mixins/all';

.wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

  @include mediaQuery('md') {
    width: 75%;
  }
}
.head {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-size: cover;
  background-position: center;

  & .content {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    color: $color-text;
    padding: 20px;
    background-color: rgba($color-secondary, 0.5);

    @include mediaQuery('md') {
      flex-direction: row;
    }
  }
  & h1 {
    font-size: 1.875rem;
  }
}

.stats {
  @apply w-full mt-5 grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-2;
}
.elo {
  @apply flex items-center p-1;
}
.country svg,
.elo svg {
  height: 32px;
  width: 32px;
}
.avatar {
  @apply rounded-full h-20 border-2 md:mr-3;
  border-color: $color-tertiary;
}
.socials {
  @apply flex justify-center items-center w-full mt-5 space-x-2 lg:justify-start lg:w-auto lg:mt-0;
}
.social-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 8px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  @extend .shadow-lg;
  border-radius: 100%;
  background-color: $color-secondary;

  &:hover {
    background-color: $color-secondary-light;
  }
  & .icon {
    @apply md:mr-2;
  }
  & .text {
    @apply hidden md:inline-block;
  }


  @include mediaQuery('md') {
    @include default-corners;
    width: auto;
  }
}

.faceit-btn svg {
  height: 16px;
  width: 16px;
  fill: $color-tertiary;
}

.leetify-btn img {
  height: 16px;
  width: 16px;
}

.history {
  @apply w-full mt-5;
}

.text-shadow {
  text-shadow: 0 2px 4px rgba(0,0,0,0.10);
}

.text-shadow-md {
  text-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.08);
}

.text-shadow-lg {
  text-shadow: 0 15px 30px rgba(0,0,0,0.11), 0 5px 15px rgba(0,0,0,0.08);
}

.text-shadow-none {
  text-shadow: none;
}
