.wrapper {
  @apply w-full h-full flex items-start justify-center;
}
.page {
  @apply w-full md:w-2/3 flex flex-col items-center justify-center p-5;
}
.head {
  @apply w-full rounded-tl rounded-tr bg-cover bg-center;
}
.head .content {
  @apply w-full rounded-tl rounded-tr flex flex-wrap items-center space-x-2 text-white p-5 backdrop-blur-sm bg-gray-800/50;
}
.head h1 {
  @apply text-3xl;
}

.stats {
  @apply w-full mt-5 grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-2;
}
.elo {
  @apply flex items-center p-1;
}
.country svg,
.elo svg {
  height: 32px;
  width: 32px;
}
.avatar {
  @apply rounded-full h-20 border-2 mr-3;
  border-color: var(--faceit-primary);
}
.socials {
  @apply flex justify-center items-center w-full mt-5 space-x-2 lg:justify-start lg:w-auto lg:mt-0;
}
.social-btn {
  @apply flex justify-center items-center p-2 w-10 h-10 rounded-full cursor-pointer bg-gray-800;
}
.social-btn:hover {
  @apply bg-gray-700 rounded w-auto;
}
.social-btn:hover .icon {
  @apply mr-1;
}
.social-btn .text {
  @apply hidden;
}
.social-btn:hover .text {
  @apply inline-block;
}
.faceit-btn svg {
  height: 16px;
  width: 16px;
  fill: white;
}
