@import 'assets/css/table.styles.css';


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --faceit-primary: #FF5500;
  --faceit-primary-white: #EBEFF3;
  --faceit-secondary: #E14A00;
}

html {
  @apply bg-gray-900;
}
html, body {
  height: 100%;
  width: 100%;
}

.text-red {
  @apply text-red-600;
}
.text-green {
  @apply text-green-600;
}
