@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'assets/css/theme/base';

html {
  background-color: $color-primary;
  background-image: url('assets/img/previews/de_inferno.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
body {
  background-color: rgba(17, 24, 39, 0.8);
  @include mediaQuery('md') {
    backdrop-filter: blur(5px);
  }
}
html, body {
  height: 100%;
  width: 100%;
}

.text-red {
  color: rgb(220 38 38 / 1);
}
.text-green {
  color: rgb(22 163 74 / 1);
}
.text-faceit {
  color: $color-tertiary;
}

.mat-dialog-container {
  padding: 0 !important;
  background-color: $color-primary;
  border-radius: 8px !important;
}
.backdrop {
  background-color: rgba($color-primary, 0.75);
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: $color-secondary $color-primary;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: $color-primary;
}

*::-webkit-scrollbar-thumb {
  background-color: $color-secondary;
  border-radius: 8px;
  border: 0px solid $color-secondary;
}
