@mixin btn-style {
  @include default-corners;
  padding: 15px 20px 15px 20px;
  background-color: $color-secondary;
  color: whitesmoke;
  cursor: pointer;

  @extend .shadow-lg;

  &:hover {
    background-color: $color-secondary-light;
  }

  &:disabled {
    cursor: not-allowed;

    &:hover {
      background-color: $color-secondary;
    }
  }
}


.btn,
button {
  @include btn-style;
}
