.card {
  background-color: $color-secondary;
  color: whitesmoke;
  @extend .drop-shadow-xl;
  @include default-corners;
  @include default-paddings;

  &.no-padding {
    padding: 0;
    overflow: hidden;
  }
}
