@import '../../../assets/css/theme/utils/variables/colors';

.wrapper {
  @apply h-full flex flex-col justify-center items-center;
}
.tools {
  @apply w-full flex flex-row justify-center items-center;
}
.tools > *:not(:last-child){
  @apply mr-2;
}
.wrapper h1 {
  border-color: $color-tertiary;
  @apply text-5xl text-white border-b-2 pb-3 mb-3;
}
.tool {
  @apply h-20 w-60;
}
.tool-card {
  cursor: pointer;
  @apply px-3 py-2 text-center;
}
.tool-card:hover {
  @apply bg-gray-700 rounded;
}
.icon {
  color: $color-tertiary;
}
a:hover {
  color: $color-tertiary;
}
.footer-wrapper {
  @apply mt-5;
}
